@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Контакты";
}

@*======= Contact Section =======*@
<section id="contact" class="contact section-bg mt-5">
    <div class="container" data-aos="fade-up">

    <div class="section-title">
        <h2>Контакты</h2>
        @*<p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>*@
    </div>

    <div class="row">
        <div class="col-lg-6">
        <div class="info-box mb-4">
            <i class="bx bx-map"></i>
            <h3>Адрес</h3>
            <p>Республика Казахстан, г. Павлодар</p>
        </div>
        </div>

        <div class="col-lg-3 col-md-6">
        <div class="info-box  mb-4">
            <i class="bx bx-envelope"></i>
            <h3>Email</h3>
            <p>mihas-ox7-74@mail.ru</p>
        </div>
        </div>

        <div class="col-lg-3 col-md-6">
        <div class="info-box  mb-4">
            <i class="bx bx-phone-call"></i>
            <h3>Телефон</h3>
            <p>+77088210530</p>
        </div>
        </div>

    </div>

    <div class="row">

        <div class="col-lg-12 ">
            <iframe class="mb-4 mb-lg-0" src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d8182.658543007002!2d76.96528683783558!3d52.28713847593566!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sru!2skz!4v1590232255628!5m2!1sru!2skz" frameborder="0" style="border:0; width: 100%; height: 384px;" allowfullscreen></iframe>
        </div>

        @*<div class="col-lg-6">
        <form action="forms/contact.php" method="post" role="form" class="php-email-form">
            <div class="row">
            <div class="col-md-6 form-group">
                <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
            </div>
            <div class="col-md-6 form-group mt-3 mt-md-0">
                <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
            </div>
            </div>
            <div class="form-group mt-3">
            <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
            </div>
            <div class="form-group mt-3">
            <textarea class="form-control" name="message" rows="5" placeholder="Message" required></textarea>
            </div>
            <div class="my-3">
            <div class="loading">Loading</div>
            <div class="error-message"></div>
            <div class="sent-message">Your message has been sent. Thank you!</div>
            </div>
            <div class="text-center"><button type="submit">Send Message</button></div>
        </form>
        </div>*@

    </div>

    </div>
</section>
@*End Contact Section*@
