@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Технологии";
}

<!-- ======= Services Section ======= -->
<section id="services" class="services mt-5">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>Технологии</h2>
            <p>Технологии, которые мы используем в своих проектах</p>
        </div>

        <div class="row">
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                <div class="icon-box">
                    <div class="icon"><img src="~/img/technologies/wp-logo_500x500.png" alt="smartexweb" /></div>
                    <h4>WORDPRESS</h4>
                    <p>WordPress - это программное обеспечение с открытым исходным кодом, которое вы можете использовать для создания красивого веб-сайта, блога или приложения.</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
                <div class="icon-box">
                    <div class="icon"><img src="~/img/technologies/cordova_logo1.png" alt="smartexweb" /></div>
                    <h4>APACHE CORDOVA</h4>
                    <p>Мобильные приложения с HTML , CSS и JS Таргетинг на несколько платформ с одной базой кода Бесплатный и открытый исходный код</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
                <div class="icon-box">
                    <div class="icon"><img src="~/img/technologies/1200px-electron_software_framework_logo.svg_.png" alt="smartexweb" /></div>
                    <h4>ELECTRON</h4>
                    <p>Electron использует Chromium и Node.js, так что Вы можете создавать свои приложения на HTML, CSS и JavaScript.</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
                <div class="icon-box">
                    <div class="icon"><img src="~/img/technologies/kohana.png" alt="smartexweb" /></div>
                    <h4>KOHANA</h4>
                    <p>Kohana — это веб-фреймворк с открытым кодом, основанный на PHP5 и использующий концепцию HMVC (Hierarchical Model View Controller — Иерахические Модель-Вид-Контроллер). Его основные цели — быть безопасным, легким и простым в использовании, и это действительно так.</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
                <div class="icon-box">
                    <div class="icon"><img src="~/img/technologies/laravel-logo.png" alt="smartexweb" /></div>
                    <h4>LARAVEL</h4>
                    <p>Laravel - это фреймворк для веб-приложений с выразительным элегантным синтаксисом. Мы считаем, что развитие должно быть приятным и творческим опытом, чтобы быть по-настоящему полезным. Laravel пытается снять боль с разработки, упрощая общие задачи, используемые в большинстве веб-проектов.</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
                <div class="icon-box">
                    <div class="icon"><img src="~/img/technologies/netty_logo_600px.png" alt="smartexweb" /></div>
                    <h4>NETTY</h4>
                    <p>Инфраструктура клиент-сервер для разработки сетевых приложений Java, таких как серверы протоколов и клиенты. Асинхронная среда и инструменты сетевого приложения, управляемые событиями, используются для сетевого программирования.</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
                <div class="icon-box">
                    <div class="icon"><img src="~/img/technologies/1200px-php-logo.svg_.png" alt="smartexweb" /></div>
                    <h4>PHP</h4>
                    <p>Скриптовый язык интенсивно применяемый для разработки веб-приложений. В настоящее время является одним из лидеров среди языков, применяющихся для создания динамических веб-сайтов.</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
                <div class="icon-box">
                    <div class="icon"><img src="~/img/technologies/480px-unofficial_javascript_logo_2.svg_.png" alt="smartexweb" /></div>
                    <h4>JAVASCRIPT</h4>
                    <p>Обычно используется как встраиваемый язык для программного доступа к объектам приложений. Наиболее широкое применение находит в браузерах как язык сценариев для придания интерактивности веб-страницам</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
                <div class="icon-box">
                    <div class="icon"><img src="~/img/technologies/mysql.png" alt="smartexweb" /></div>
                    <h4>MYSQL</h4>
                    <p>Свободная реляционная система управления базами данных. Гибкость СУБД MySQL обеспечивается поддержкой большого количества типов таблиц. Разработку и поддержку MySQL осуществляет корпорация Oracle.</p>
                </div>
            </div>

        </div>

    </div>
</section>
<!-- End Services Section -->

<!-- ======= Mastering-services Section ======= -->
<section id="mastering-services" class="mastering-services">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>Осваиваем технологии</h2>
            <p>Технологии, которые мы изучаем</p>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="portfolio-details-slider swiper">
                    <div class="swiper-wrapper align-items-center">

                        <div class="swiper-slide d-flex justify-content-around">
                            <div class="swiper-slide-item">
                                <img src="~/img/technologies/react1.png" alt="">
                            </div>

                            <div class="swiper-slide-item">
                                <img src="~/img/technologies/vuejs1.png" alt="">
                            </div>

                            <div class="swiper-slide-item">
                                <img src="~/img/technologies/laravel1.png" alt="">
                            </div>
                        </div>

                        <div class="swiper-slide d-flex justify-content-around">
                            <div class="swiper-slide-item">
                                <img src="~/img/technologies/django1.png" alt="">
                            </div>

                            <div class="swiper-slide-item">
                                <img src="~/img/technologies/october1.png" alt="">
                            </div>

                            <div class="swiper-slide-item">
                                <img src="~/img/technologies/swift1.png" alt="">
                            </div>
                        </div>

                        <div class="swiper-slide d-flex justify-content-around">
                            <div class="swiper-slide-item">
                                <img src="~/img/technologies/kotlin1.png" alt="">
                            </div>

                            <div class="swiper-slide-item">
                                <img src="~/img/technologies/flutter1.png" alt="">
                            </div>

                            <div class="swiper-slide-item">
                                <img src="~/img/technologies/ReactNative1.png" alt="">
                            </div>
                        </div>

                    </div>
                    <div class="mt-5"></div>
                    <div class="swiper-pagination"></div>
                </div>
            </div>
        </div>

    </div>
</section>
<!-- End Mastering-services Section -->
